<div id="judge-homepage">
	<h2 class='page-header'>Dashboard</h2>
	<div class="row-fluid">
		<div class="span3 dashbard-section-container">

		<!-- Current Employees-->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Contests</strong></h3>
            </div>
            <div class="panel-body">
              <table class="table table-hover" id='employee-table'>
                <thead>
                  <tr>
                    <th>Contest Name</th>
                    <th>Preliminary Round</th>
                    <th>Semi-finals</th>
                    <th>Finals</th>
                    <th>Results</th>
                  </tr>
                </thead>
                <tbody>
                	<tr>
                		<td>Juniors</td>
                		<td><a href="/contests/Preliminary/juniors">Score</a></td>
                		<td><a href="/contests/Semi-finals/juniors">Score</a></td>
                		<td><a href="/contests/Finals/juniors">Score</a></td>
                		<td><a href="/contests/R/juniors">View</a></td>
                	</tr>
                	<tr>
                		<td>Novice</td>
                		<td><a href="/contests/Preliminary/novice">Score</a></td>
                		<td><a href="/contests/Semi-finals/novice">Score</a></td>
                		<td><a href="/contests/Finals/novice">Score</a></td>
                		<td><a href="/contests/results/novice">View</a></td>
                	</tr>
                	<tr>
                		<td>Intermediate</td>
                		<td><a href="/contests/Preliminary/intermediate">Score</a></td>
                		<td><a href="/contests/Semi-finals/intermediate">Score</a></td>
                		<td><a href="/contests/Finals/intermediate">Score</a></td>
                		<td><a href="/contests/results/intermediate">View</a></td>
                	</tr>
                	<tr>
                		<td>Advanced</td>
                		<td><a href="/contests/Preliminary/advanced">Score</a></td>
                		<td><a href="/contests/Semi-finals/advanced">Score</a></td>
                		<td><a href="/contests/Finals/advanced">Score</a></td>
                		<td><a href="/contests/results/advanced">View</a></td>
                	</tr>
                	<tr>
                		<td>Champion</td>
                		<td><a href="/contests/Preliminary/champion">Score</a></td>
                		<td><a href="/contests/Semi-finals/champion">Score</a></td>
                		<td><a href="/contests/Finals/champion">Score</a></td>
                		<td><a href="/contests/results/champion">View</a></td>
                	</tr>
                	<tr>
                		<td>Masters</td>
                		<td><a href="/contests/Preliminary/masters">Score</a></td>
                		<td><a href="/contests/Semi-finals/masters">Score</a></td>
                		<td><a href="/contests/Finals/masters">Score</a></td>
                		<td><a href="/contests/results/masters">View</a></td>
                	</tr>
                </tbody>
              </table>
            </div>
          </div>
		</div>
	</div>


