<div id="judge-homepage">
	<h2 class='page-header'>Dashboard</h2>
	<div class="row-fluid">
		<div class="span3 dashbard-section-container">

		<!-- Current Employees-->
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><strong>Contests</strong></h3>
            </div>
            <div class="panel-body">
              <table class="table table-hover" id='employee-table'>
                <thead>
                  <tr>
                    <th>Contest Name</th>
                    <th>Preliminary Round</th>
                    <th>Semi-finals</th>
                    <th>Finals</th>
                    <th>Results</th>
                  </tr>
                </thead>
                <tbody>
                	<tr>
                		<td>Juniors</td>
                		<td><a href="/contests/prelim/juniors">Score</a></td>
                		<td><a href="/contests/prelim2/juniors">Score</a></td>
                		<td><a href="/contests/final/juniors">Score</a></td>
                		<td><a href="/contests/results/juniors">View</a></td>
                	</tr>
                	<tr>
                		<td>Novice</td>
                		<td><a href="/contests/prelim/novice">Score</a></td>
                		<td><a href="/contests/prelim2/novice">Score</a></td>
                		<td><a href="/contests/final/novice">Score</a></td>
                		<td><a href="/contests/results/novice">View</a></td>
                	</tr>
                	<tr>
                		<td>Intermediate</td>
                		<td><a href="/contests/prelim/intermediate">Score</a></td>
                		<td><a href="/contests/prelim2/intermediate">Score</a></td>
                		<td><a href="/contests/final/intermediate">Score</a></td>
                		<td><a href="/contests/results/intermediate">View</a></td>
                	</tr>
                	<tr>
                		<td>Advanced</td>
                		<td><a href="/contests/prelim/advanced">Score</a></td>
                		<td><a href="/contests/prelim2/advanced">Score</a></td>
                		<td><a href="/contests/final/advanced">Score</a></td>
                		<td><a href="/contests/results/advanced">View</a></td>
                	</tr>
                	<tr>
                		<td>Champion</td>
                		<td><a href="/contests/prelim/champion">Score</a></td>
                		<td><a href="/contests/prelim2/champion">Score</a></td>
                		<td><a href="/contests/final/champion">Score</a></td>
                		<td><a href="/contests/results/champion">View</a></td>
                	</tr>
                	<tr>
                		<td>Masters</td>
                		<td><a href="/contests/prelim/masters">Score</a></td>
                		<td><a href="/contests/prelim2/masters">Score</a></td>
                		<td><a href="/contests/final/masters">Score</a></td>
                		<td><a href="/contests/results/masters">View</a></td>
                	</tr>
                </tbody>
              </table>
            </div>
          </div>
		</div>
	</div>


